/****************GENERAL****************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: antiquewhite;
}

#calendar-header h1 {
  font-family: "Sour Gummy";
  text-align: center;
  color: brown;
  font-size: 2.5em;
  z-index: 5;
  margin-top: 0;
  position: relative;
}

#advent-calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 70px 100px 70px 100px;
  gap: 20px;
}

.adventdate {
  border: solid 1px;
  border-color: rgb(119, 106, 106);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  position: relative;
  height: 190px;
  width: 190px;
  border-radius: 2px;
  z-index: 1; /* Assurez-vous que .adventdate a un z-index inférieur */
  padding: 20px;
}

.day {
  background-color: rgba(119, 106, 106, 0);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10; /* Z-index élevé pour être au-dessus de .maison */
  height: 120px;
  font-size: 2em;
  font-family: "Sour Gummy";
}

.adventdate:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: scale(1.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

/************DECORATION***********/

#guirlande {
  margin-top: -150px;
}

.maison {
  position: relative; /* S'assurer que .maison est positionné relativement */
  z-index: 5; /* Z-index inférieur à .day */
}

.maison2 {
  position: relative;
  z-index: 5;
  margin-left: 30px;
}
